.chatBoxContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .chatBoxHeading{
        display: flex;
        flex-direction: column;
        gap: 2px;
        .chatRoomName{
            font-weight: 600;
            font-size: 16px;
        }
        .chatRoomMembersDetail{
            font-size: 10px;
        }
    }

    .chatBox{
        height: 560px;
        background-color: #161616 ;
        border-radius: 10px;
    }
}