.settingsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .heading {
        font-weight: 600;
        font-size: 20px;
    }

    .settingOptions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #161616;
        height: 580px;
        border-radius: 10px;
        padding: 10px;

        button {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: #212121;
            padding: 8px;

            img {
                width: 20px;
                height: 20px;
            }

            label {
                font-size: 16px;
                font-weight: 600;
                color: white;
                cursor: pointer;
            }

            #lgout {
                width: 30px;
                height: 30px;
            }
        }

        button:hover {
            background-color: rgba(255, 80, 16, 0.1);

            label {
                color: rgb(255, 80, 16);
                font-weight: 600;
            }
        }

        button:active {
            transition: 0.2s linear;
            transform: scale(0.9);
        }

        .button.active {
            background-color: rgba(255, 80, 16, 0.1);

            label {
                color: rgb(255, 80, 16);
                font-weight: 600;
            }
        }
    }
}